# dependencies
node_modules/

# testing
/coverage

# next.js
frontend/.next/
/out/

# api
dist/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*
secret.json
.secret.json
.secret2.json
.dev.json
.prod.json

# typescript
*.tsbuildinfo
next-env.d.ts
